*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
 width: 100%;
}
.parent{
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 25px;
}
.card{
  height: 380px;
  width: 330px;
  background-color: #fff;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.top img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #dadada;
}
.top button{
  display: flex;
  align-items: center;
  border: 2px solid #dadada;
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  gap: 5px;
  background-color: transparent;
}
.center{
  margin-bottom: 20px;
}
.center h3{
  font-size: 28px;
  font-weight:500;
}
.center h3 span{
  font-size: 18px;
  font-weight: 400;
  color:#8b8b8b ;
}
.center h2{
  font-size: 30px;
}
.center .tag{
  display: flex;
  gap: 10px;
margin-top: 10px;
}
.center .tag h4{
  background-color:#dadada ;
  font-size: 19px;
  color: black;
  padding: 4px 5px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
  flex-direction: row;
}
.bottom .details{
  font-size: 18px;
}
.bottom button{
  padding: 8px;
  font-size: 15px;
  border-radius: 9px;
  border: 1px solid #8b8b8b;
  background-color:black ;
  color: white;
  font-weight: 500;
}

